src/flows/FeedItem_Conversion_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Contact_Id</name>
        <label>Assign Contact Id</label>
        <locationX>582</locationX>
        <locationY>33</locationY>
        <assignmentItems>
            <assignToReference>ContactFeedItem.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConvertedContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFeedItem.Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oneFeedItem.Body</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFeedItem.NetworkScope</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oneFeedItem.NetworkScope</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFeedItem.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oneFeedItem.Visibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFeedItem.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oneFeedItem.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFeedItem.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oneFeedItem.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFeedItem.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oneFeedItem.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFeedItem.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oneFeedItem.RelatedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactFeedItem.LinkUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oneFeedItem.LinkUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Feed_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Feed_to_Collection</name>
        <label>Assign Feed to Collection</label>
        <locationX>568</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>updatedFeedItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactFeedItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Feed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Feed_Items</name>
        <label>Check for Feed Items</label>
        <locationX>256</locationX>
        <locationY>117</locationY>
        <defaultConnectorLabel>No Feed Items</defaultConnectorLabel>
        <rules>
            <name>Feed_Items_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FeedItemCol</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Feed</targetReference>
            </connector>
            <label>Feed Items Found</label>
        </rules>
    </decisions>
    <interviewLabel>FeedItem Conversion Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FeedItem Conversion Flow</label>
    <loops>
        <name>Loop_through_Feed</name>
        <label>Loop through Feed</label>
        <locationX>341</locationX>
        <locationY>203</locationY>
        <assignNextValueToReference>oneFeedItem</assignNextValueToReference>
        <collectionReference>FeedItemCol</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contact_Feed_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Feed_Items</name>
        <label>Create Contact Feed Items</label>
        <locationX>216</locationX>
        <locationY>443</locationY>
        <inputReference>updatedFeedItemCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Feed_Items</name>
        <label>Get Feed Items</label>
        <locationX>160</locationX>
        <locationY>95</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Feed_Items</targetReference>
        </connector>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisLead</elementReference>
            </value>
        </filters>
        <object>FeedItem</object>
        <outputReference>FeedItemCol</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <queriedFields>Body</queriedFields>
        <queriedFields>Visibility</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
        <queriedFields>NetworkScope</queriedFields>
        <queriedFields>LinkUrl</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_FeedItem_Collection</name>
        <label>Update FeedItem Collection</label>
        <locationX>399</locationX>
        <locationY>418</locationY>
        <inputReference>updatedFeedItemCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Feed_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactFeedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>ConvertedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FeedItemCol</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>oneFeedItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
    <variables>
        <name>thisLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updatedFeedItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>FeedItem</objectType>
    </variables>
</Flow>
